*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
 
body{
    font-family: "Roboto",sans-serif;
    background-image:url("Wall 1.jpg");   
    height: max-content;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 0 auto;
    color: #b6a659;
}
.input{
    text-align: center;
    margin: 100px auto;
}
input[type="text"]{
    text-align: center;
}
input[type="button"] {
    background: none;
    color:#b6a659;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
}
input[type="button"]:hover {
    border-color: #1eae8a;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #8ae3bc;
    cursor: pointer;    
  }
input{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 30px;
    font-family: "Roboto",sans-serif;
    font-weight:bold;
    font-size: 20px;
}
.container{
    margin:0 auto;
    padding: 10px 0;
    text-align: center; 
    background-image:url("grad.jpg");
    height:350px;
    width:55%;
    border-radius:5px;
}
.card{
    width: 100%;
    background:none;
    height: 20vh;
    text-align: center;
}
.card span{
    font-family: 'Ubuntu', sans-serif;    
    background-image:linear-gradient(45deg,#7bd3d3,#4c9fd3,#8ed076);
    width:200px;
    border-radius: 10px;
    border-width: 1px;
    border-color: aqua;
    border-color: #e7e7e7;
    border-width: 1px;
    border-style: solid;
    padding: 100px 25px;
    color: #ffffff;
    text-align: center;
    margin:40px 1px;
    font-size:20px;
}

span:hover{
    font-family:'Nunito',sans-serif ;
    background-image:linear-gradient(40deg,#8ed076,#7bd3d3,#f1f1f1);
    border-color: beige;
    box-shadow: 0.5em 0.5em 0.5em -0.4em #ece7e2;
    color:black;
    box-shadow: #1fd39a;
    transform: scale3d(1.2, 1.2, 1.2);
    transition: ease-in-out 0.35s;
}
h2{
    letter-spacing:1.5px;
    margin-top:20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size:40px;
}
div:first-of-type{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin:0 auto;
}
img{
    width: 100px;
    border-radius: 50%;
}
.cast-header{
    text-align: center;
    color: #0b404d;
    background-color:#6ede1e;
    border-radius: 13px;
    padding: 5px 10px;
    font-size: larger;
    width: max-content;
    margin-top:50px;
}
.time, .date{

    color:#000000;
    font-size: 18px;
}
.day{
    background-color: #f0f8ff7a;
    border-radius: 10px;
    margin: 40px;
    padding:10px;
}
.forecast{
    display:flex;
    align-items: center;
    color: #0b404d;
    margin: 20px 50px;
    text-align: center;
}
